<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quini6 Prediction App</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-white">
        <div class="bg-blue-500 text-white text-center py-4">
            <h1 class="text-4xl font-bold">Quini 6 Prediction App</h1>
            <p class="text-lg">Created by León Maffrand</p>
        </div>
        <div class="text-center my-8">
            <h2 class="text-2xl font-bold">Last Draw</h2>
        </div>
        <div class="flex justify-center space-x-8">
            <!-- Loop through each draw -->
            {% for draw in current_draws_mapped %}
            <div class="bg-blue-400 p-4 rounded-lg">
                <h2 class="col-2x1 font-bold text-white">
                    Set {{ loop.index }}
                </h2>
                <!-- Loop through each team in the draw -->
                <ul class="space-y-4">
                    {% for team in draw %}
                    <li class="flex items-center space-x-4">
                        <img
                            class="w-8 h-8"
                            src="{{ team['flag'] }}"
                            alt="{{ team['team'] }} flag"
                            height="30px" />
                        <span class="text-white">{{ team['team'] }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <form action="/save_draw" method="POST">
                <button type="submit" class="btn btn-primary">
                    Save Most Recent Draw
                </button>
            </form>
            <!-- Draws Section -->
            <div class="bg-blue-400 p-4 rounded-lg">
                <h2>Stored Draws</h2>
                {% for draw in previous_draws %}
                <h2>Draw {{ loop.index }}</h2>
                <div class="space-y-4">
                    <strong>Set 1:</strong>
                    <ul>
                        {% for entry in draw.draw_set_1 %}
                        <li class="space-y-4">
                            <div class="flex items-center space-x-4">
                                <img
                                    class="w-8 h-8"
                                    src="{{ entry['flag'] }}"
                                    alt="{{ entry['team'] }} flag"
                                    height="30px" />
                                <span>{{ entry['team'] }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <strong>Set 2:</strong>
                    <ul>
                        {% for entry in draw.draw_set_2 %}
                        <li class="space-y-4">
                            <div class="flex items-center space-x-4">
                                <img
                                    class="w-8 h-8"
                                    src="{{ entry['flag'] }}"
                                    alt="{{ entry['team'] }} flag"
                                    height="30px" />
                                <span>{{ entry['team'] }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <strong>Set 3:</strong>
                    <ul>
                        {% for entry in draw.draw_set_3 %}
                        <li class="space-y-4">
                            <div class="flex items-center space-x-4">
                                <img
                                    class="w-8 h-8"
                                    src="{{ entry['flag'] }}"
                                    alt="{{ entry['team'] }} flag"
                                    height="30px" />
                                <span>{{ entry['team'] }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <strong>Set 4:</strong>
                    <ul>
                        {% for entry in draw.draw_set_4 %}
                        <li class="space-y-4">
                            <div class="flex items-center space-x-4">
                                <img
                                    class="w-8 h-8"
                                    src="{{ entry['flag'] }}"
                                    alt="{{ entry['team'] }} flag"
                                    height="30px" />
                                <span>{{ entry['team'] }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
